*{
    overflow: hidden; /* Hide scrollbars */
}
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #dbe2ef;
    color: black;   
}

.hidden {
    display: none;
}

nav {
    background-color: #000;
    color: gray;
    width: calc(100% - 2rem);
    max-height: 5ch;
    display: flex;
    align-items: center;
    padding: 1rem;
    padding-top: 0;
    padding-bottom: 0;
}

.nav-items {
    background-color: inherit;
    color: inherit;
}

.nav-items a {
    text-decoration: none;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

#hamburger {
    display: none;
    padding: 0.5rem;
    margin-left: auto;
}

nav>:nth-child(2) {
    margin-left: auto;
}

nav img {
    max-height: 80%;
}

nav>img {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

footer {
    width: calc(100% - 1rem);
    font-size: 0.9rem;
    background-color: #112d4e;
    text-align: center;
    padding: 0.5rem;
    color: white;
    margin-top: auto;
}

:root {
    font-size: 24px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
}

input {
    background-color: transparent;
    color: white;
    border: none;
    padding: 0.2rem;
}

input[type=submit] {
    cursor: pointer;
}

footer input[type=submit] {
    background-color: #007bff;
    border-radius: 10px;
    color: white;
    padding: 0.3rem;
    font-size: 0.9rem;
    min-width: 7ch;
}

footer input[type=email] {
    background-color: white;
    border-radius: 10px;
    color: black;
}

a,
a:visited,
a:active,
a:link {
    color: inherit !important;
}

input:focus {
    outline: none;
}

* {
    font-family: 'Satoshi-Variable';
}

.content {
    display: flex;
    width: 100%;
    max-width: 80ch;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 1.3rem;
    margin: 2rem;
    text-transform: uppercase;
}

@media screen and (max-aspect-ratio: 1/1) {
    #hamburger {
        display: block;
        margin-left: auto;
    }

    .nav-items {
        display: none;
        top: 5ch;
        position: absolute;
        left: 0;
        flex-direction: column;
        width: 100%;
    }

    .nav-items a {
        text-align: center;
        margin: 0.2rem;
    }

    nav {
        max-height: 5ch;
    }
}






.follow-us-banner {
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-transform: uppercase;
    text-align: justify;
    color: rgba(255, 255, 255, 0.6);
}

@keyframes grow-nav {
    from {
        height: 0;
    }

    to {
        height: calc(100% - 5ch);
    }
}

@keyframes shrink-nav {
    from {
        height: calc(100% - 5ch);
    }

    to {
        height: 0;
    }
}

@media screen and (max-aspect-ratio: 1/1) {
    .footer-groups {
        flex-direction: column-reverse;
        gap: 2rem;
    }

    #contact,
    #socials,
    #misc-links {
        width: 100%;
        justify-content: space-evenly;
    }

    #socials {
        flex-direction: column;
    }

    .follow-us-banner {
        writing-mode: horizontal-tb;
    }

    #contact li {
        text-align: center;
    }
}


/*updates*/
.logo{
    width: 3vw;
    height: 3vh;
}

    
    .footer{
    background:#000;
    padding:10px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    }
    
    .footer .row{
    width:100%;
    margin:0% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    }
    
    .footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    .footer .row a:hover{
    color:#fff;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
    }





    video {
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -2;
      
      }
      .video-wrapper {
        border: 2px solid #000;
        width: 300px;
        height: 300px;
        position: relative;
        overflow: hidden;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }