.landing-banner {
    font-size: 1.5rem;
    margin-top: 2.5rem;
    font-weight: bold;
}

.search-filters {   
    background-color: #112d4e9f;
    backdrop-filter: saturate(180%) blur(10px);
    padding: 1rem;
    border-radius: 0.4rem;
    display: flex;
}

.search-group {
    background-color: #dbe2ef;
    border-radius: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0.2rem;
}

.search-group input[type=submit] {
    border-radius: 60px;
    background-color: #3f71afab;
    padding: 0.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.search-group input[type=text] {
    width: 100%;
    font-size: 1.3rem;
}

.search-filters,
.search-group {
    border: 1px solid #00000011;
    margin: 1rem;
}

input,
select {
    font-size: 1rem;
    color: rgb(248, 238, 238);
}

select {
    margin: 0.5rem;
    background-color: #475e88;
    border: none;
    border-radius: 10px;
    padding: 0.4rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

#clear-filters {
    margin: 1rem;
    cursor: pointer;
    text-decoration: underline;
    user-select: none;
}

@media screen and (max-aspect-ratio: 1/1) {
    .search-filters {
        flex-direction: column;
    }

    .landing-banner {
        margin-left: 0.4rem;
    }
}